/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after{
    box-sizing: border-box;
}

.wrap{
    width: 940px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: PingFang TC,sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #3F5D45;
}

a{
    text-decoration: none;
    color: #3F5D45;
    display: block;
}

img{
    display: block;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav img{
   height: 40px;
}

.navright{
    display: flex;
}

.menu{
    display: flex;
    align-items: center;
}

.menu a{
    padding: 10px 30px 8px 30px;
}

.navright img{
    margin-left: 49px;
    padding-top: 9px;
    padding-bottom: 7px;
}

.banner{
    margin-top: 30px;
}

.main{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.catalog{
    text-align: center;
    font-size: 24px;
}
.catalog h1{
    padding: 15px 102px;
    color: #EAF0ED;
    background: #3F5D45;
    width: 300px;
}

.catalog a{
    display: block;
    padding: 20.5px 64px;
    outline: 1px solid #EAF0ED;
}

.catalog a:hover{
    display: block;
    padding: 20.5px 64px;
    background: #EAF0ED;
}

.itemlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
}


.item{
    position: relative;
    margin-bottom: 20px;
}

.today{
    position: absolute;
    top: 0;
    left: 20px;
    background: #3F5D45;
    color: #EAF0ED;
    width: 36px;
    height: 106.73px;
    padding: 10px;
    line-height: 1.2;
}

.heart{
    position: absolute;
    top: 19px;
    right: 22px;
}

.detail{
    display: flex;
    font-size: 20px;
    text-align: center;
    width: 300px;
}

.detail h2{
    font-weight: 300;
    outline: 1px solid #EAF0ED;
    width: 58%;
    padding: 18px 0;
}

.detail p{
    outline: 1px solid #EAF0ED;
    width: 42%;
    padding: 18px 0;
}

.item a{
    text-align: center;
    padding: 23.7px 90px;
    background: #EAF0ED;
    font-size: 24px;
    display: block;
    outline: 1px solid #EAF0ED;
}

.item a:hover{
    text-align: center;
    padding: 23.7px 90px;
    background: #3F5D45;
    color: #EAF0ED;
    font-size: 24px;
    display: block;
    outline: 1px solid #EAF0ED;
}

.pagination ul{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
}

.num{
    outline: 1px solid #EAF0ED;
    padding: 20px 25px;
}

.num:hover{
    outline: 1px solid #EAF0ED;
    padding: 20px 25px;
    background: #3F5D45;
    color: #EAF0ED;
}

.arrow{
    outline: 1px solid #EAF0ED;
    padding: 18px;
}

.arrow:hover{
    outline: 1px solid #EAF0ED;
    padding: 18px;
    background: #000;
}